@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

:root{
    font-family: "Syne",sans-serif;
    --yellow: #EADE06;
    --black: #000000;
    --white:#ffffff;
    --darkgray:#252525;
    --lightgray:#404040;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{width:100vh;display: flex;overflow-x: hidden;}

/* remove default styling */
ul{list-style: none;}
a{text-decoration: none;}

/* same styles */
.subheading{}
.heading{}


/* header */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--white);
    border-right: 1px solid black;
    min-width: 150px;
    max-height: 100vh;
}

.nav_links {
    font-size: 12px;
    color: rgba(255,255,255,0.18);
    transform: rotate(-90deg);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_links li {
    min-width: 100px;
    color: black;
    font-size: 16px;
  }


/* banner  */

.banner{}
.bnr_con{}
.slogan{}
video{}
.bnr_gray_area{}
.header_logo{}
.bnr_img{}
.dark_gray_box{}
.soc_med_area{}
.long_line{}
.small_line{}
.circle{}
.soc_med_icons_con{}
.soc_med_icon{}


/* services */

.services{}
.serv_con{}
.serv_info{}
.serv_info_text{}
.serv_box_con{}
.serv_box{}
.serv_icon{}
.serv_text{}



/* main  */

.main_area{}
.main_con{}
.main_img{}
.main_box{}
.main_heading{}
.main_info_text{}
.main_boxes{}
.main_box_inner{}
.main_img_box{}
.main_name_con{}
.main_name{}
.main_soc_med{}
.main_soc_med_icon{}
.main_text{}

/* bottom 1 */

.bottom1{}
.btm1_con{}
.btm1_info_text{}
.testimonial_box{}
.testimonial{}

/* bottom 2 */

.bottom2{}
.btm2_con{}
.btm2_img{}
.btm2_form_con{}
.btm2_form_text{}
.upcoming_text{}

/* footer */

.footer_top{}
.footer_top_con{}
.footer_logo_con{}
.footer_logo{}
.footer_logo_info{}
.footer_heading{}
.footer_text{}
.footer_soc_med_con{}
.footer_heading{}
.footer_soc_med{}
.footer_soc_med_icon{}
.footer_contact_info{}
.footer_heading{}
.footer_location{}
.footer_nav{}